* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #000;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}

#game {
	padding-top: 20px;
	font-size: 40px;
	width: 320px;
	margin: 0 auto;
}

.main {
	width: 320px;
	height: 620px;
	margin: 20px auto 0;
	border: 10px solid silver;
	font-size: 0;
}

.cell {
	width: 30px;
	height: 30px;
	border: 1px solid silver;
	display: inline-block;
}

.movingCell {
	background-color: #0000FF;
}

.fixedCell {
	background-color: #008000;
}

#next-tetro {
	position: absolute;
	top: 200px;
	left: 200px;
	font-size: 0;
}

#down {
	margin: 0px 50% 0px 0px;
}